/*  エラーメッセージ  */
.auth__error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

/* 画面全体の設定 */
.auth-page {
    margin: 0;
    background: #b5ecea;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #333;
}

/* ヘッダーの設定 */
.auth-header{
    position: relative;
    text-align: left;
    background: #000;
    padding: 20px;
    font-size: 20px;
    color: white;
}

.auth-header::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #b5ecea;
}

.auth-header__logo{
    width: 240px;
    height: auto;
}



/* 上下左右の中央に配置 */
.auth-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* フォームを包む白いカード */
.auth-card {
    background: #fff;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

/*共通のタイトルスタイル*/
.auth-form__head {
    text-align: center;
}

.auth-form__heading {
    font-size: 30px;
    color: #3832f7;
}

/*共通の入力フォーム*/
.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
}

.email-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 12px;
    border: none;
}

/*step2重さのスタイル*/
.input-unit {
    display: flex;
    align-items: center;
    gap: 8px;
}

.input-unit .form-input {
    flex: 1;
}

.form-unit {
    white-space: nowrap;
}

/* ボタンの共通スタイル */
.form-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.auth-button {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 12px;
    background: #3832f7;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.auth-button:hover {
    background: linear-gradient(to right, #0289f8b8, #071ff6f0);
    text-decoration: none;
    border: none;
}

.admin-button{
    width: 60%;
    padding: 12px;
    background: #3832f7;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.admin-button:hover {
    background: linear-gradient(to right, #0289f8b8, #071ff6f0);
}

/* リンクの共通スタイル */
.form-link {
    margin-top: 10px;
    text-align: center;
}

.resend-link-button {
    background: none;
    border: none;
    padding: 0;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    margin-top: 12px;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.success-message {
    display: flex;
    color: #2e7d32;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    align-items: center;
}